@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply h-full bg-[#0d0d0f] text-white antialiased;
    margin: 0;
  }
}
